<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [ngClass]="{hidden: (isHandset$ | async) === false}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let item of topMenu" mat-list-item href="#">{{item}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CheapTrip</span>
      <!--  <nav *ngIf="!(isHandset$ | async)"> <a *ngFor="let item of topMenu" href="#">{{item}}</a></nav>
      <span class="spacer"></span>
      <nav>
        <a *ngIf="!isAuthorised" href="#">Log In</a>
        <a *ngIf="isAuthorised" href="#">Sign Up</a>
        <a *ngIf="!isAuthorised" href="#">Log Out</a></nav> -->
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>