:host {
  width: 100%;
  position: relative;
  top: 1rem;
  height: 100%;
}
article {
  width: 95%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: rgba(202, 199, 199, 0.479);
  section {
    border-bottom: 1px grey dashed;
    padding: 0.5rem;
    h4 {
      color: blue;
      font-weight: 800;
    }
    div {
      display: flex;
      justify-content: flex-start;
      p {
        span {
          font-weight: 600;
        }
      }
      span.spacer {
        flex: 1 1 auto;
      }
    }
  }
  section:last-child {
    border: none;
  }
  section.totalInfo {
    box-shadow: 1px 1px 2px 3px rgba(128, 145, 230, 0.5);
    background-color: whitesmoke;
    border: none;
   border-radius: 3px ;
  }
}
