:host {
  width: 90%;
  position: relative;
  top: 1rem;
}
article {
  width: 90%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: indianred;

  section {
    border-bottom: 1px grey dashed;
    padding: 0.5rem;
    h4 {
      background-color: rgb(32, 32, 32);
      color: white;
    }
    div {
      display: flex;
      justify-content: flex-start;

      p {
        span {
          font-weight: 600;
        }
      }
      span.spacer {
        flex: 1 1 auto;
      }
    }
  }
  section.totalInfo {
  // margin-bottom: 1rem;
  background-color: hotpink;
  }
}
