<div class="main">
    <p color="primary">Discover the cheapest way to get anywhere by plane, train, bus and ride share altogether</p>
  
     <form [formGroup]="directionForm" novalidate (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <input  (input)="onChangeStartPoint($event.target.value)" type="text"
                    placeholder="From" aria-label="Number" matInput formControlName="startPointControl"
                    [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete" (optionSelected)='getStartPoint($event.option.value)'>
                    <mat-option *ngFor="let startP of startPointArr" [value]="startP">
                        {{startP}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <span class="material-icons" (click)="changeDirection()">
                sync_alt
            </span>
            <mat-form-field class="full-width">
                <input  (input)="onChangeEndPoint($event.target.value)" type="text"
                    placeholder="To" aria-label="Number" matInput formControlName="endPointControl" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)='getEndPoint($event.option.value)'>
                    <mat-option *ngFor="let endP of endPointArr" [value]="endP">
                        {{endP}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
  <!--           <button mat-flat-button color="primary" type="submit" [disabled]="directionForm.invalid">Let's go</button> -->
            <button mat-flat-button color="primary" type="submit" >Let's go</button>
      
        </form>
    
</div>